
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Datos del usuario</h5>

        <div class="form-group">
            <label for="inputIdentificacion">Indetificación</label>
            <input validar type="text" class="form-control" id="inputIdentificacion" placeholder="Identificación"
                value="{{usuario?.identificacion}}" readonly>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <label for="inputNombres">Nombre compelto</label>
                <input validar type="text" class="form-control" id="inputNombres" placeholder="Nombre"
                    value="{{usuario?.nombreCompleto}}" readonly>
            </div>
            <div class="form-group col-sm">
                <label for="inputFechaNacimiento">Fecha nacimiento</label>
                <input type="text" class="form-control" id="inputFechaNacimiento" placeholder="Fecha nacimiento"
                    value="{{formated.date(usuario?.fechaNacimiento)}}" readonly>
            </div>
        </div>
    </div>
</div>
