<h1 class="mt-1">Resgistro de citas</h1>

<div class="mt-5">
    <h6> Identificación: <b>{{identificacion}}</b> </h6>
    <h6> Nombre completo: <b>{{nombre}}</b> </h6>
</div>

<div class="d-grid gap-2">
    <button class="btn btn-primary" type="button" (click)="redirigirCrearSolicitud()">Solicitar otra cita</button>
  </div>

<app-card-solicitudcita id="{{'id-' + solicitud.id}}" [solicitud]="solicitud" *ngFor="let solicitud of solicitudes" ></app-card-solicitudcita>
<app-message-box></app-message-box>