<h1 class="mt-1">Solicitar Cita</h1>
<p>
    Para solicitar la cita ingrese su identificacion,
    si no tiene usuario registrado, realice el proceso
    de inscripcion.
</p>
<form [formGroup]="usuarioForm">
    <div class="form-group">
        <label for="inputIdentificacion">Identificación</label>
        <input validar type="text" class="form-control" id="inputIdentificacion" placeholder="Identificación" formControlName="identificacion">
    </div>
</form>
<div class="form-group">
    <a id="linkCrearUsuario" routerLink="../crear">Inscribir Usuario</a>
</div>
<div class="form-group">
    <button id="btnBuscarUsuario" *ngIf="this.usuarioForm.valid"  type="button" class="btn btn-primary" (click)="buscar()">Buscar</button>
</div>
<app-caja-mensaje-crear-usuario (emitirEvento)="confirmadoCrear($event)"></app-caja-mensaje-crear-usuario>
